---
---
@import "main";

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Poppins" , "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

/* $lm-primary :rgb(49, 50, 130);
$lm-secondary: #F80074;

$theme-colors: (
  "primary":    #2F1C54,
  "secondary":  #28232B,
  "success":    #224036,
  "info":       #4D2D87,
  "warning":    #745700,
  "danger":     #7A151E,
  "light":      #25292E,
  "dark":       rgb(226, 226, 226)
);

$colors: (
    "white": black,
    "black": white,
);

$light: #490000;
$dark: #202428; */



@import "F:\\Repos\\bootstrap-5.0.1\\scss\\bootstrap";